h1 new category

form(method='POST', action='/category')
  .input-group
    label(for='name') Name
    input#name(type='text', name='name')
  .input-group
    label(for='name') Description
    input#name(type='text', name='name')
  .input-group
    input(type='submit')
